# Assembly files
*.asm
*.s
*.S

# Swap files
*.swp
*.sym

# Object files
*.o
*.d
*.out

# others
*.log
*.img

# obj folders
obj

.bochsrc-debug
.bochsrc
.settings

.cproject
.gdbinit
.project
BIOS-bochs-latest
BIOS-bochs-latest_2-3
*.bat
GNUmakefile
*.pl
stdout
coding
VGABIOS-lgpl-latest
Readme_Project_Port_To_ModernGCC.txt